# ignore these
vim/plugged/*
.DS_Store
vim/backup/*
tmux/plugins/*
tmux/resurrect/*
vim/.netrwhist

# dont ignore these
!vim/backup/.gitkeep
!vim/plugged/.gitkeep
!tmux/plugins/.gitkeep
!tmux/plugins/tpm
!tmux/resurrect/.gitkeep
