# ignore these
vim/plugged/*
.DS_Store
vim/backup/*
tmux/plugins/*
tmux/resurrect/*
.netrwhist
NetrwTreeListing*
vim/spell/en.utf-8.add.spl

# dont ignore these
!vim/backup/.gitkeep
!vim/plugged/.gitkeep
!tmux/plugins/.gitkeep
!tmux/plugins/tpm
!tmux/resurrect/.gitkeep
